* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: rgba(43, 48, 59, 1);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

#window {
    background: rgba(43, 48, 59, 1);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

#workspaces {
    background: rgba(43, 48, 59, 1);
    border-radius: 10px;
    padding-right: 2px;
    margin-left: 5px;
    font-size: 20px;
}

#workspaces button {
    background: rgba(43, 48, 59, 1);
    padding: 0 5px;
    background: transparent;
    color: white;
    font-size: 20px;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
    font-size: 20px;
}

#language, #clock, #custom-notification, #cpu, #memory, #wireplumber {
    background: rgba(43, 48, 59, 1);
    padding: 0 10px;
}

#language, #clock, #cpu, #memory, #wireplumber {
    border-right: 2px dotted #64727D;
}


#clock {
    padding-right: 8px;
}

#language {
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    padding-right: 8px;
    font-size: 20px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#custom-notification {
    padding-right: 15px;
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
}